* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: 'Mulish', sans-serif;
  background-color: #F5FAFE;
  color: #333333;
}

.container {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: #fff;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-top__menu-burger {
  display: none;
}

.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}

.navbar-menu {
  background-color: #0A223D;
}

.navbar-menu__list {
  margin: 0;
  padding: 31px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-menu__link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.logo {
  width: 177px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  height: 40px;
}

.search__input {
  width: 350px;
  height: 100%;
  padding-left: 23px;
  padding-right: 75px;
  background-color: #F5FAFE;
  border: none;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  border: none;
  background-color: #EC1F46;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.user__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user__name {
  margin-left: 18px;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.breadcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
  margin: 0;
}

.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}

.breadcrumb-list__item:not(:last-child)::after {
  content: '/';
  margin-right: 4px;
}

.breadcrumb-list__link {
  color: inherit;
}

.hotel {
  padding-top: 23px;
  padding-bottom: 70px;
}

.hotel-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.hotel-info__offer {
  margin-left: 14px;
  margin-top: 4px;
}

.hotel-info__name {
  margin-top: 4px;
  margin-bottom: 0;
}

.hotel-name {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.hotel-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-description {
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.hotel-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-slider {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
}

.hotel-slider__img {
  height: 100%;
  width: 100%;
}

.hotel-slider::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 122, 223, 0.6)), to(rgba(255, 255, 255, 0.16)));
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.6) 0%, rgba(255, 255, 255, 0.16) 100%);
  z-index: 10;
}

.stars {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stars__img {
  display: block;
  margin-right: 3px;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background-color: #EC1F46;
  border-radius: 3px;
  color: #ffffff;
}

.rating {
  max-width: 65px;
  min-height: 45px;
  color: #ffffff;
  background-color: #EC1F46;
  border-radius: 4px;
  text-align: center;
}

.rating__text {
  font-size: 8px;
  line-height: 10px;
}

.rating__counter-now {
  font-size: 14px;
  line-height: 18px;
}

.rating__counter-all {
  font-size: 10px;
  line-height: 13px;
}

.slider {
  width: 728px;
  height: 450px;
}

.slider-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 20;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  background-color: transparent;
}

.slider-button:active {
  border: none;
}

.slider-button:visited {
  border: none;
}

.slider-button_next {
  right: 18px;
  background-image: url(../img/arrow-next.svg);
}

.slider-button_prev {
  left: 18px;
  background-image: url(../img/arrow-prev.svg);
}

.booking {
  border-radius: 8px;
  color: #ffffff;
  width: 350px;
  min-height: 210px;
  padding: 28px;
  background-color: #0A223D;
}

.booking__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 9px;
}

.booking__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.booking__start {
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  line-height: 14px;
}

.booking__pricetag {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
}

.booking__per-room {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.booking__room {
  margin-top: 4px;
}

.booking__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
}

.booking__descr {
  margin-left: 9px;
}

.booking__call-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 17px;
}

.booking__heading {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: inherit;
}

.booking__num {
  margin-left: 8px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.booking__button {
  width: 100%;
  min-height: 45px;
  background-color: #EC1F46;
  border: none;
  border-radius: 4px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  cursor: pointer;
}

.map {
  width: 100%;
  height: 215px;
  border-radius: 10px;
  overflow: hidden;
}

.newsletter {
  position: relative;
  padding: 98px  0 87px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.newsletter::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 34, 61, 0.8);
}

.newsletter-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 731px;
  margin: auto;
}

.newsletter-title {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
}

.newsletter-title__strong {
  display: block;
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.subscribe {
  position: relative;
  width: 350px;
  height: 55px;
  border-radius: 4px;
  overflow: hidden;
}

.subscribe__input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 33px;
  padding-right: 75px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #BDBDBD;
}

.subscribe__button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  min-width: 65px;
  border: none;
  background-color: #EC1F46;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.reviews {
  padding: 40px 0 70px 0;
}

.reviews-title {
  font-size: 36px;
  line-height: 45px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 70px;
}

.reviews-slider__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 730px;
  margin: 45px auto 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 0 97px 30px;
}

.reviews-slider__item::before {
  content: '';
  position: absolute;
  left: 62px;
  top: 13px;
  width: 70px;
  height: 47px;
  background-image: url(../img/quote-left.svg);
  background-repeat: no-repeat;
}

.reviews-slider__item::after {
  content: '';
  position: absolute;
  right: 62px;
  top: 118px;
  width: 70px;
  height: 47px;
  background-image: url(../img/quote-right.svg);
  background-repeat: no-repeat;
}

.reviews-slider__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -45px;
  margin-bottom: 30px;
}

.reviews-slider__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 9px;
}

.reviews-slider__username {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #EC1F46;
  margin-bottom: 10px;
}

.reviews-slider__date {
  font-size: 10px;
  line-height: 13px;
  color: #0A223D;
  margin-bottom: 4px;
}

.reviews-slider__text {
  font-size: 12px;
  line-height: 160%;
  color: #333333;
  text-align: justify;
  margin: auto;
  max-width: 537px;
}

.reviews-slider__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 99;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.reviews-slider__button_prev {
  background-image: url(../img/reviews-left.svg);
  left: 0;
}

.reviews-slider__button_next {
  background-image: url(../img/reviews-right.svg);
  right: 0;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .slider {
    width: 590px;
  }
  .swiper__img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 992px) {
  .container, .newsletter-wrapper {
    max-width: 700px;
  }
  .logo {
    width: 132px;
  }
  .navbar-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .navbar__search {
    margin-left: auto;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }
  .navbar-menu__list {
    padding: 22px 14px;
  }
  .search__input {
    width: 340px;
  }
  .hotel {
    padding-bottom: 60px;
  }
  .hotel-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hotel-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .booking {
    width: 340px;
    height: 210px;
  }
  .slider {
    width: 100%;
    margin-bottom: 30px;
  }
  .map {
    width: 340px;
    height: 210px;
  }
  .reviews-title {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 50px;
  }
  .reviews-slider__item {
    max-width: 580px;
    padding: 0 62px 30px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .navbar-menu, .navbar__search, .navbar__user {
    display: none;
  }
  .navbar-top {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 16px;
    height: 11px;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-burger__line {
    width: 16px;
    height: 1px;
    background-color: #333333;
  }
  .stars {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .hotel {
    padding-top: 0;
    padding-bottom: 40px;
  }
  .hotel-name {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .hotel-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hotel-info__text {
    width: 100%;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__offer {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0;
  }
  .hotel-info__name {
    margin-top: 10px;
  }
  .hotel-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 450px;
  }
  .slider {
    height: 350px;
  }
  .booking {
    width: 100%;
  }
  .map {
    width: 100%;
  }
  .map__google {
    width: 100%;
  }
  .newsletter {
    padding: 92px 0 93px 0;
  }
  .newsletter-wrapper {
    max-width: 576px;
    width: 92%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reviews-title {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 42px;
  }
  .reviews-slider__item {
    padding: 0 31px 36px;
  }
  .reviews-slider__item::after, .reviews-slider__item::before {
    display: none;
  }
  .reviews-slider__button {
    top: 45px;
  }
  .reviews-slider__button_prev {
    left: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-left: -115px;
  }
  .reviews-slider__button_next {
    right: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin-right: -115px;
  }
}

@media (max-width: 576px) {
  .container, .newsletter-wrapper {
    width: 87%;
  }
  .logo {
    width: 99px;
  }
  .navbar-top {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .slider {
    height: 180px;
  }
  .hotel-info {
    padding-bottom: 38px;
  }
  .hotel__slider {
    margin-bottom: 20px;
  }
  .hotel-right {
    min-height: 403px;
  }
  .map {
    height: 173px;
  }
  .newsletter {
    padding: 76px 0 83px 0;
  }
  .newsletter-title {
    font-size: 20px;
    line-height: 25px;
  }
  .newsletter-title__strong {
    font-size: 30px;
    line-height: 38px;
  }
  .newsletter__subscribe {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */