// @media (max-width: 1440px)
//     .footer
//         &__legal
//             justify-self: start
    
@media (max-width: 1200px)
    .container
        max-width: 960px
    .slider
        width: 590px
    .swiper
        &__img
            object-fit: cover
    .card
        width: 230px
        height: 230px
    .packages
        &-card
            &__img
                &_one
                    width: 50%
    .footer
        &__input
            &-group
                flex-basis: 100%
        &__legal
            padding-left: 0
        

@media (max-width: 992px)
    .container, .newsletter-wrapper
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
        &-menu
            &__link
                font-size: 12px
                line-height: 15px
            &__list
                padding: 22px 14px
    .search
        &__input
            width: 340px
    .hotel
        padding-bottom: 60px
        &-grid
            flex-direction: column
        &-right
            flex-direction: row
    .booking
        width: 340px
        height: 210px
    .slider
        width: 100%
        margin-bottom: 30px
    .map
        width: 340px
        height: 210px  
    .reviews
        padding-bottom: 60px
        &-title
            font-size: 30px
            line-height: 38px
            margin-bottom: 50px
        &-slider
            &__item
                max-width: 580px  
                padding: 0 62px 30px
    .activities
        padding-bottom: 50px
        &-wrapper
              flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .card
        width: 340px
        height: 255px
    .packages
        &-wrapper
            grid-template-columns: repeat(2, 1fr)
        &-title
            font-size: 30px
            line-height: 38px
            margin-bottom: 45px
    .footer
        padding-top: 73px
        padding-bottom: 33px
        &-wrapper
            grid-template-columns: repeat(7, 1fr)
            grid-column-gap: 10px
            grid-row-gap: 40px
        &__logo
            grid-row: 1 / 2
            grid-column: span 2
            max-width: 104px
            max-height: 120px
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__additional
            grid-column: span 3
        &__legal
            grid-column: span 2
            padding-left: 0
        &__contact
            &-details
                grid-column: span 5
                grid-row: 3
                margin-top: 20px
            &-form
                grid-column: span 6
                grid-row: 4
                max-width: 539px
        &__input
            &-group
                flex-basis: 48%
                max-width: 255px
        &-bottom
            margin-top: 63px
            &__links
                text-align: left
    .modal
        &__dialog
            padding: 23px 78px
        &__info
            margin-top: 10px
            
@media (max-width: 768px)
    body
        padding-top: 70px
    .container
        max-width: 576px
        width: 92%
    .navbar
        position: relative
        &__search, &__user
            &_hidden
                display: none
            &_visible
                display: flex
        &__user
            flex-direction: column
            justify-content: center
        &-menu
            display: none
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 70px
            overflow: auto
            &__list
                flex-direction: column
                padding-top: 30px
            &__item
                margin-bottom: 20px
                &_visible
                    display: block
            &_visible
                display: block
        &-top
            justify-content: space-between
        &_fixed
                position: fixed
                top: 0
                left: 0
                right: 0
                z-index: 99
    .menu
        &-burger
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #fff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .user
        &__name
            &_light
                color: $light
                margin-left: 0
                margin-top: 10px
    .stars
        flex-basis: auto          
    .hotel
        padding-top: 0
        padding-bottom: 40px
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
            &__name
                margin-top: 10px
        &-right
            flex-direction: column
            min-height: 450px
    .slider
        height: 350px
    .booking
        width: 100%
    .map
        width: 100%
        &__google
            width: 100%
    .newsletter
        padding: 92px 0 93px 0
        &-wrapper
            max-width: 576px
            width: 92%
            flex-direction: column
            align-items: flex-start
        &-title
            margin-bottom: 37px
    .reviews
        padding-bottom: 50px
        &-slider
            &__item
                padding: 0 31px 36px
                &::after, &::before
                    display: none
            &__button
                top: 45px
                &_prev
                    left: 50%
                    transform: translateY(-50%)
                    margin-left: -115px
                &_next
                    right: 50%
                    transform: translateY(-50%)
                    margin-right: -115px
    .card
        width: 49%
        height: 255px
    .activities
        padding-top: 40px 
        padding-bottom: 60px
    .packages
        &-card
            &_one
                flex-direction: column
            &__img
                &_one
                    width: 100%
                    height: 288px
            &__right
                width: 100%
        &-wrapper
            grid-gap: 20px
    .footer
        padding: 69px 0 21px 0
        &-wrapper
            grid-template-columns: 1fr
            grid-row-gap: 30px
            grid-column-gap: 0
        &__logo
            grid-row: 1
            grid-column: 1
            width: 104px
        &__social
            &-network
                flex-direction: column
                height: 66px
                justify-content: space-between
                grid-row: 2
                grid-column: 1           
        &__legal
            grid-row: 3
            grid-column: 1
            padding-left: 0
            justify-self: start
        &__additional
            grid-row: 4
            grid-column: 1
        &__categories
            grid-row: 5
            grid-column: 1
        &__contact
            &-details
                grid-column: 1
                grid-row: 6
            &-form
                grid-row: 7
        &__input
            &-group
                flex-basis: 100%
                max-width: 100%
        &__title
            &_mb
                margin-bottom: 15px
        &-bottom
            margin-top: 30px
            &__links
                padding-bottom: 32px
            &__link
                margin-right: 5px
            &__img
                left: 0
        &__info
            padding-right: 50px
        &__icon
            &-wrapper
                min-width: 24px
        &__item
            &_ml
                margin-left: 24px
    .modal
        &__dialog
            padding: 23px 58px
        &__button
            width: 100%
                    

@media (max-width: 576px)
    .container, .newsletter-wrapper
        width: 87%
    .logo
        width: 99px
    .navbar
        &-top
            padding-top: 26px
            padding-bottom: 26px
    .search
        &__input
            width: 243px
    .slider
        height: 180px
    .hotel
        &-info
            padding-bottom: 38px
        &__slider
            margin-bottom: 20px
        &-right
            min-height: 403px
    .map
        height: 173px
    .newsletter
        padding: 76px 0 83px 0
        &-title
            font-size: 20px
            line-height: 25px
            &__strong
                font-size: 30px
                line-height: 38px
        &__subscribe
            width: 100%
    .subscribe
        &__input
            width: 100%
            &-group
                width: 82%
    .reviews
        padding-bottom: 30px
        &-title
            font-size: 18px
            line-height: 23px
            margin-bottom: 42px
    .card
        width: 100%
    .activities
        padding-top: 30px
        &__title
            font-size: 18px
            line-height: 23px
            margin-bottom: 36px
        &__card
            &_first
                order: -2
            &_second
                order: -1
    .packages
        padding-bottom: 50px
        &-title
            font-size: 18px
            line-height: 23px
            margin-bottom: 37px
        &-card
            grid-column: 1 / 3
            &__right
                padding: 30px 21px 30px 32px
            &__about
                margin-top: 0
                margin-bottom: 23px
            &__oldprice
                &_one
                    margin-top: 24px
    .modal
        &__dialog
            padding: 23px 48px


@media (max-width: 352px)
    .reviews
        &-title
            padding: 0 20px
        &-slider
            &__text
                text-align: left
    .footer
        &__button
            order: 1
        &__info
            margin-bottom: 15px
    .modal
        &__dialog
            padding: 23px 38px