@media (max-width: 1200px)
    .container
        max-width: 960px

@media (max-width: 992px)
    .container
        max-width: 700px
    .logo
        width: 132px
    .navbar
        &-top
            padding-top: 30px
            padding-bottom: 30px
        &__search
            margin-left: auto
        &-menu
            &__link
                font-size: 12px
                line-height: 15px
            &__list
                padding: 22px 14px
    .search
        &__input
            width: 340px
            
@media (max-width: 768px)
    .container
        max-width: 576px
        width: 92%
    .navbar
        &-menu, &__search, &__user
            display: none
        &-top
            justify-content: space-between
    .menu
        &-burger
            display: flex
            width: 16px
            height: 11px
            padding: 0
            align-items: center
            justify-content: space-between
            flex-direction: column
            border: none
            background-color: #fff
            cursor: pointer
            &__line
                width: 16px
                height: 1px
                background-color: $text-color
    .stars
        flex-basis: auto          
    .hotel
        padding-top: 0
        &-name
            flex-basis: 100%
        &-wrapper
            justify-content: space-between
        &-info
            &__text
                width: 100%
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
            &__name
                margin-top: 10px
@media (max-width: 576px)
    .container
        width: 87%
    .logo
        width: 99px
    .navbar
        &-top
            padding-top: 26px
            padding-bottom: 26px