.hotel
    padding-top: 23px
    padding-bottom: 70px
    &-info
        display: flex
        align-items: center
        justify-content: space-between
        padding-bottom: 20px
        &__offer
            margin-left: 14px
            margin-top: 4px
        &__name
            margin-top: 4px
            margin-bottom: 0
    &-name
        font-size: 24px
        line-height: 30px
        text-transform: uppercase
    &-wrapper
        display: flex
        flex-wrap: wrap
        align-items: center
    &-description
        font-size: 12px
        line-height: 15px
        margin: 0
    &-grid
        display: flex
        justify-content: space-between
    &-right
        display: flex
        flex-direction: column
        justify-content: space-between

.stars
    flex-basis: 100%
    display: flex
    &__img
        display: block
        margin-right: 3px


.offer
    font-size: 10px
    line-height: 13px
    padding: 4px 9px
    background-color: $primary
    border-radius: 3px
    color: $light


.rating
    max-width: 65px
    min-height: 45px
    color: $light
    background-color: $primary
    border-radius: 4px
    text-align: center
    &__text
        font-size: 8px
        line-height: 10px
    &__counter-now
        font-size: 14px
        line-height: 18px
    &__counter-all
        font-size: 10px
        line-height: 13px

.swiper 
  width: 100%
  height: 100%
  position: relative
  border-radius: 8px
  &__img
      height: 100%
      width: 100%
  &::after
      content: ''
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      width: 100%
      height: 100%
      background: linear-gradient(180deg, rgba(0, 122, 223, 0.6) 0%, rgba(255, 255, 255, 0.16) 100%)
      z-index: 10
.slider
    width: 728px
    height: 450px
    &-button
        position: absolute
        top: 50%
        transform: translateY(-50%)
        z-index: 20
        width: 30px
        height: 30px
        border: none
        cursor: pointer
        background-repeat: no-repeat
        background-position: center
        background-size: 10px
        background-color: transparent
        &:active
            border: none
        &:visited
            border: none
        &_next
            right: 18px
            background-image: url(../img/arrow-next.svg) 
        &_prev
            left: 18px
            background-image: url(../img/arrow-prev.svg)

.booking
    border-radius: 8px
    color: $light
    width: 350px
    min-height: 210px
    padding: 28px
    background-color: $dark
    &__info
        display: flex
        justify-content: space-between
        margin-bottom: 9px
    &__price
        display: flex
        flex-direction: column
    &__start
        font-family: 'Nunito', sans-serif
        font-size: 10px
        line-height: 14px
    &__pricetag
        font-family: 'Nunito', sans-serif
        font-weight: 800
        font-size: 24px
        line-height: 33px
    &__per-room
        font-family: 'Nunito', sans-serif
        font-size: 12px
        line-height: 16px
    &__room
        margin-top: 4px
    &__text
        display: flex
        align-items: center
        justify-content: space-between
        font-family: 'Nunito', sans-serif
        font-size: 12px
        line-height: 16px
        margin-bottom: 8px
    &__descr
        margin-left: 9px
    &__call-center
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 17px
    &__heading
        font-family: 'Nunito', sans-serif
        font-weight: 600
        font-size: 18px
        line-height: 25px
    &__number
        display: flex
        align-items: center
        justify-content: space-between
        color: inherit
    &__num
        margin-left: 8px
        font-family: 'Nunito', sans-serif
        font-weight: 600
        font-size: 18px
        line-height: 25px
    &__button
        width: 100%
        min-height: 45px
        background-color: $primary
        border: none
        border-radius: 4px
        font-family: 'Nunito', sans-serif
        font-weight: 600
        font-size: 14px
        line-height: 19px
        color: $light
        cursor: pointer

.map
    width: 100%
    height: 215px
    border-radius: 10px
    overflow: hidden

